/*初期化 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  min-height: 100%;
}
/* */
main{
  display: flex; /*横並びに */
  position: relative; /* 基準値*/
}

main aside {
  position:fixed; /*位置を固定 */
  display: flex; /*aside-innerとaside-pictureを並び替える。 */
  width: 35%;
  height: 100vh;

}
main aside .aside-inner{
  /* asideの中を100%ととしてその中の35% */
  width: 35%; 
  font-size: 15px;
	padding-top: 120px;

	height: 100%;
/* 元々の配置の色 */
	color: #fff;
	background: #000; 
	
}


/*asideの中のaside-innerのとこについて書く。 */

header{
  text-align: center;
}


#global-nav ul {
	list-style: none; 
	padding-left: 0px;
  padding-top:20px;
}
#global-nav .sub-menu-nav{
  display: block;
  padding: auto;
}
#global-nav > ul > li {
	position: relative;
}

#global-nav a {
  /* 元々の色の文字の色 */
	color: #fff;
	text-decoration: none;
	display: block; 
	padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
	-moz-transition: background-color .3s linear;
	-webkit-transition: background-color .3s linear;
	transition: background-color .3s linear;
}
/* 上のやつでpadding-leftが他の要素にかかってるから
ここで上書き */
#global-nav .sub-menu-nav a{
  padding-left: 0;
}
#global-nav .sub-menu.is-active > a,
#global-nav a:hover {
  /* マウスを乗せた時の色の話 */
	color: #000; 
	background: #fff;
}

#global-nav .sub-menu-nav a,
#global-nav .sub-menu:hover .sub-menu-nav {
  width: calc(35% * (65 /100));
}

/* sub-menu icon */
#global-nav .sub-menu > a {
	position: relative;
}
/* >のアイコンを作ってる */
#global-nav .sub-menu > a:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 18px;
	margin: auto;
	vertical-align: middle;
	width: 10px;
	height: 8px;
  /* アイコンの文字の色を変えている */
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}


/* sub-menu */
/* 元々の配置 */
#global-nav .sub-menu-nav {
	position: fixed;
  /* マウスを乗せた際にででくる場所 */
	background: #fff;
	color: #000;
	top: 0;
	padding-top: 200px;
	left: calc(35% * (35/100));
	width: 0;
	height: 100%;
	overflow: hidden;
  text-align: center;
	-moz-transition: width .2s ease-out;
	-webkit-transition: width .2s ease-out;
	transition: width .2s ease-out;
}

#global-nav .sub-menu.is-active > a:after,
#global-nav .sub-menu > a:hover:after {
	border-color: #000;
}
#global-nav .sub-menu-nav a {
	color: #000;
  width: calc(65% / (65/100));
}
#global-nav .sub-menu-nav a:hover {
  width: calc(65% / (65/100));
  /* マウスの乗せた時に表示されるものの乗せたときの色 */
	color: #fff;
	background: #000;

}
main aside article{
  /* margin-left: 35%;  なんでここは変　なぜここで必要じゃないのか*/
  width: 65%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  margin: 0;
  padding: 0;
}

main aside article div{
  min-width:30vw;

  /* background-image: url("images/11.jpg"); */
}
main aside article div img {
  width: auto;
  height: 100%;
}
article::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

main section{
  margin-left: 35%;
  height: 400vh;
  
  width: 65%;
}
main section .main-content .content-inner{
  display: flex;
  flex-direction:column;
}
main section .main-content .content-inner .self-introduction {
  height: 80vh;
  background-image: url("images/dog.png");
  background-size: cover;
}
main section .main-content .content-inner .self-introduction .moji{
  width: 35%;
  line-height: 2rem;
  margin-top: 30px;
  margin-left: 30px;
}
main section .main-content .content-inner .self-introduction .moji ul{
  list-style: none;
}
main section .main-content .content-inner .self-portofolio_1{
  background-image: url("images/webApp.png");
  background-size: cover;
  height: 80vh;
}

main section .main-content .content-inner .moji{
  width: 35%;
  line-height: 2rem;
  margin-top: 30px;
  margin-left: 30px;
}
main section .main-content .content-inner .moji h2{
  padding-bottom: 40px;
}

main section .main-content .content-inner .self-portofolio_2{
  height: 80vh;
  background-image: url("images/bil.png");
 
  background-size: cover;
  color: white;
}
main section .main-content .content-inner .self-portofolio_3{
  height: 80vh;
  background-image: url("images/predict.png");
  background-size: cover;
  color: white;
}
main section .main-content .content-inner .self-portofolio_4{
  height: 80vh;
  background-image: url("images/movie.png");
  background-size: cover;

}







/* startの文 */
.start {
	background:black;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}
.start p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 280px;
}















